<form class="container" (submit)="login()" [formGroup]="loginFormGroup">
  <h3>Connexion</h3>
  <br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" formControlName="motdepasse" />
  </mat-form-field>
  <button mat-flat-button [disabled]="loginFormGroup.invalid">Se connecter</button>
  @if (invalidCredentials) {
    <mat-error>Invalid credentials</mat-error>
  }
</form>
