<section>
  <div id="card">
    <button routerLink="/home" class="close">X</button>
    <h3>Connexion</h3>
    <form #form="ngForm" (submit)="onSubmit(form)">
      <div class="card-mail">
        <input type="email" name="mail" id="loginMail"
               #mail="ngModel"
               [(ngModel)]="user.email"
               placeholder="E-mail" required />
      </div>
      <div class="card-pass">
        <input type="password" name="motDePasse" id="loginMotdePasse"
               #motDePasse="ngModel"
               [(ngModel)]="user.motDePasse"
               placeholder="Mot de passe" required />
      </div>
      <div class="card-submit">
        <input class="submit" type="submit" value="Se connecter" />
      </div>
    </form>
  </div>
</section>
