@if(loginService.user()) {
    <h2>Bienvenue {{loginService.user()!.unique_name}} {{loginService.user()!.given_name}}</h2>
}
<div class="content">
    <div class="table-container">
        <h2>Randonnée</h2>
        <table>
            <tr>
                <th>Séjours</th>
                <th>Participants</th>
            </tr>
            @for (randonnee of randonnees; track randonnee.id){
                <tr>
                    <td>{{randonnee.nom}}</td>
                    <td>{{randonnee.participant}}</td>
                </tr>
             }
        </table>
    </div>
    <div class="table-container">
        <h2>Utilisateur</h2>
        <table>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
            @for (utilisateur of utilisateurs; track utilisateur.id){
                <tr>
                    <td>{{utilisateur.nom}}</td>
                    <td>{{utilisateur.prenom}}</td>
                </tr>
             }
        </table>
    </div>
</div>