* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #FEFEE2;
  display: flex;
  justify-content: center;
  align-items: center;

  #card {
    border-radius: 5px;
    width: 400px;
    height: 500px;
    background-color: rgb(22, 101, 52, 0.3);
    filter: drop-shadow(0 0 0.75rem rgb(22, 101, 52, 0.4));
    display: flex;
    justify-content: center;
    flex-direction: column;

    h3 {
      text-align: center;
      color: white;
      font-size: 30px;
      position: relative;
      bottom: 30px;
    }

    input {
      border: none;
      border-radius: 5px;
      width: 90%;
      height: 25px;
      margin-bottom: 15px;
      margin-left: 15px;
      padding: 5px;
    }

    .submit {
      color: black;
      background-color: #FEFEE2;
      transition: 800ms ease;
      width: 92%;

      &:hover {
        color: white;
        background-color: rgb(22, 101, 52, 0.3);
        cursor: pointer;
      }
    }
  }
}
