<section>
  <div id="card">
    <button routerLink="/home" class="close">X</button>
    <h3> Créer un compte</h3>
    <form #form="ngForm" (submit)="onSubmit(form)">
      <div class="card-nom">
        <input type="text" name="nom" id="inscriptionNom"
               #nom="ngModel"
               [(ngModel)]="service.FormData.nom"
               placeholder="Nom" required />
      </div>
      <div class="card-prenom">
      <input type="text" name="prenom" id="inscriptionPrenom"
             #prenom="ngModel"
             [(ngModel)]="service.FormData.prenom"
             placeholder="Prénom" required />
      </div>
      <div class="card-mail">
      <input type="email" name="mail" id="inscriptionMail"
             #mail="ngModel"
             [(ngModel)]="service.FormData.email"
             [(ngModel)]="user.email"
             placeholder="E-mail" required />
        @if (user.email && !isValidLogin()){
          <p style="position: relative; margin-bottom: 10px; margin-left: 20px; color: red;">L'email n'est pas valide</p>
        }
      </div>
      <div class="card-tel">
      <input type="text" name="telephone" id=""
             #telephone="ngModel"
             [(ngModel)]="service.FormData.telephone"
             placeholder="Téléphone" required />
      </div>
      <div class="card-pass">
      <input type="password" name="motDePasse" id="inscriptionMotdePasse"
             #motDePasse="ngModel"
             [(ngModel)]="service.FormData.motDePasse"
             minlength="8" placeholder="Mots De Passe"  required />
      </div>

      <input type="password" name="inscriptionConfirmationMotdePasse" id="inscriptionConfirmationMotdePasse" placeholder="Confirmez-Votre Mots De Passe" required />
      <div class="card-submit">
      <input class="submit" type="submit" value="Creer un compte" />
      </div>
    </form>
  </div>
</section>
