.app-container {
    display: flex; /* Utilise Flexbox pour aligner les enfants horizontalement */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
  }
  
  app-sidebar {
    width: 250px; /* Largeur fixe pour la sidebar */
    flex-shrink: 0; /* Empêche la réduction de la sidebar */
  }
  
  .content {
    flex-grow: 1; /* Permet au contenu de prendre tout l'espace restant */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    flex-direction: column; /* Colonne pour faciliter le responsive */
    max-width: calc(100% - 250px); /* Ajustez 250px selon la largeur de votre sidebar */
    margin-left: auto; /* Centre le contenu par rapport à la sidebar */
  }