.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s;
}

app-sidebar {
  width: 250px;
  transition: transform 0.3s;
  height: 100%;

}

.hamburger {
  display: none;
}

@media (min-width: 769px) {
  .app-container.sidebar-open .main-content {
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    /* autres styles du bouton hamburger */
  }

  app-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 1000;
  }

  app-sidebar.open {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0 !important;
  }
}