<app-header></app-header>
<section id="home">
  <div class="filter"></div>
  <div class="container">
    <div class="title">
      <h1>MARCHE<br>& DEVIENS</h1>
    </div>
    <div class="button-learn-more">
      <button><a href="#about">En savoir plus</a></button>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="titleOp">
      <h1>Marche&Deviens</h1>
    </div>
    <div class="title">
      <p class="who">QUI SOMME NOUS ?</p>
      <p class="pres">Présentation</p>
    </div>
  </div>
</section>
