#sejour {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;

  .card {
    width: 450px;
    height: 210px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(1px 0px 2px rgb(0, 0, 0, 0.1));

    .card-img {
      background-color: red;
      width: 70%;
      height: 100%;
      border-radius: 10px 0 0 10px;

      img {
        border-radius: 10px 0 0 10px;
      }

      .card-title-desc {
        position: absolute;
        margin-top: -70px;
        margin-left: 15px;
        height: 65px;
        width: fit-content;
        color: white;
        filter: drop-shadow(0 0 15px black);
        font-family: 'Poppins', sans-serif;

        .title {
          font-weight: 600;
          font-size: 20px;
          position: relative;
          bottom: 10px;
        }

        .desc {
          font-size: 13px;
          position: relative;
          bottom: 30px;
          opacity: 60%;
        }
      }
    }
    .card-infos {
      margin: 0;
      position: relative;
      left: 265px;
      bottom: 205px;
      text-align: center;
      font-size: 13px;
      width: 50%;
      height: 100%;
      display: grid;
      justify-content: center;
      align-items: center;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #052E16;
      }

      p {
        font-size: 11px;
        color: #052E16;
      }
    }
  }
}
