<section id="sejour">
  <div class="card">
    <div class="card-img">
      <img width="100%" height="100%" src="https://cdn.generationvoyage.fr/2020/08/Ardennes-IMEA.jpg" alt="">
      <div class="card-title-desc">
        <p class="title">Les Ardennes</p>
        <p class="desc">Lorem Lorem Lorem Lorem</p>
      </div>
    </div>
    <div class="card-infos">
      <div class="content">
        <p>0</p>
        <p>nuits</p>
        <span></span>
        <p>0</p>
        <p>préstation</p>
        <span></span>
        <p>à partir de</p>
        <p style="font-weight: 700">0€</p>
      </div>
    </div>
  </div>
</section>
