button {
  border: none;
  background-color: #448B5C;
  color: white;
  padding: 10px 15px;
  margin-right: 20px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  transition: 800ms ease;
}

button:hover {
  filter: glow(10);
  background-color: white;
  cursor: pointer;
  color: #448B5C;
}
