<section id="menu">
  <div id="mySidenav" class="sidenav">
    <span routerLink="/home" id="closeBtn" class="close">
      <span class="span1"></span>
      <span class="span2"></span>
    </span>
    <div class="link">
      <li><a routerLink="/home">Accueil</a></li>
      <li><a href="#" routerLink="/sejour">Nos séjours</a></li>
      <li><a href="#">Galerie</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </div>
    <div class="right">
      <div class="content">
        <div class="container">
          <p class="title" style="margin-bottom: 10px">NOUS SOMMES PRÉSENT ICI</p>
          <span></span>
          <p class="desc" style="margin-top: 10px; margin-bottom: 30px">Rue De Lannois 4, 7760 Celles, Belgique</p>
        </div>
        <div class="container">
          <p class="title" style="margin-bottom: 10px;">SUIVEZ-NOUS SUR LES RÉSEAUX</p>
          <span></span>
          <p class="desc" style="margin-top: 10px; margin-bottom: 30px; opacity: 100%;"><a class="link-res" href="#">Instagram</a><a class="link-res" href="#" style="margin-left: 10px">Facebook</a></p>
        </div>
        <div class="container">
          <p class="title" style="margin-bottom: 10px">CONTACTEZ-NOUS</p>
          <span></span>
          <p class="desc" style="margin-top: 10px; margin-bottom: 30px">ribeiro.dimitri&#64;gmail.com</p>
        </div>
        <div class="button-ls">
          <button class="login" routerLink="/login">Se connectez</button>
          <button class="signup" routerLink="/signup">S'inscrire</button>
        </div>
      </div>
    </div>
  </div>
</section>
